<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>maintenance</title>
</head>
<body>
    <p><h2>The site is currently being updated. so please fuck off for moments</h2></p>

    {{> footer}}
</body>
</html>